{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    height: 100vh;
    background-color: #E554731A;
}


.banner-nav {
    height: 10vh;
    display: flex;
    padding: 30px 150px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: #181717;
    font-size: 1.3rem;
    cursor: pointer;
}

.nav-logo:hover {
    color: #d87272;
    transition: 0.2s;
}

.nav-logo span {
    color: #272727;
}

.nav-menus ul {
    display: flex;
    gap: 30px;
}

.nav-menus ul li {
    list-style: none;
}

.nav-menus ul li a {
    text-decoration: none;
    color: #E55473;
    font-size: 1.1rem;
}

.nav-menus ul li a:hover {
    color: #e791a3;
    transition: 0.2s;
}


.banner-container {
    padding: 0px 150px;
    height: 90vh;
    background: url("../assets/pngwing\ 10.png");
    background-repeat: no-repeat;
    background-size: 430px 550px;
    background-position: bottom 0px right 170px;
    display: flex;
    align-items: center;
}

.banner-infos h1 {
    font-size: 55px;
    color: #272727;
    margin-bottom: 25px;
}
.banner-infos p {
    color: rgba(78, 78, 78, 0.6);
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 25px;
}

.banner-infos button {
    padding: 15px 25px;
    border-radius: 8px;
    background-color: #E55473;
    border: none;
    color: white;
    cursor: pointer;
}

.banner-infos button:hover {
    background-color: #e791a3;
    transition: 0.2s;
}

/* FEATURED SECTION  */
.featured-section {
    height: 100vh;
    background-color: white;
    margin: 70px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.featured-info {
    text-align: center;
}

.featured-info h2 {
    color: #272727;
    font-size: 35px;
    margin-bottom: 25px;
}

.featured-info p {
    color: rgba(78, 78, 78, 0.6);
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.featured-display {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flower-box {
    width: 320px;
    height: 360px;
    border-radius: 300px 300px 0px 0px;
}

.flower-box:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.box1 {
    background: url("../assets/pngwing\ 6.png");
    background-color: rgba(167, 33, 98, 0.15);
    background-position: center bottom;
    background-size: 240px 290px;
    background-repeat: no-repeat;
}

.box2 {
    background: url("../assets/pngwing\ 5.png");
    background-color: rgba(5, 151, 160, 0.15);
    background-position: center;
    background-size: 260px 260px;
    background-repeat: no-repeat;
}

.box3 {
    background: url("../assets/pngwing\ 7.png");
    background-color: rgba(71, 125, 17, 0.15);
    background-position: center bottom;
    background-size: 220px 320px;
    background-repeat: no-repeat;
}

.flower-link {
    text-align: center;
    margin-top: 10px;
    gap: 5px;
}

.flower-link a {
    color: #272727;
}

.flower-link a:hover {
    color: #E55473;
    transition: 0.2s;
}

.support-container {
    height: 40vh;
    
    background-color: rgba(39, 39, 39, 0.05);
    margin: 70px 150px 100px 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.support-container p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 0.9rem;
    margin-top: 10px;
}