{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    height: 100vh;
    background-color: #E554731A;
}



.nav-logo {
    color: #1d1b1b;
    font-size: 1.3rem;
    cursor: pointer;
}

.nav-logo:hover {
    color: #f08585;
    transition: 0.2s;
}

.nav-logo span {
    color: #e47c7c;
}



.banner-container {
    padding: 0px 150px;
    height: 90vh;
    background: url("../assets/pngwing\ 10.png");
    background-repeat: no-repeat;
    background-size: 430px 550px;
    background-position: bottom 0px right 170px;
    display: flex;
    align-items: center;
}

.banner-infos h1 {
    font-size: 55px;
    color: #272727;
    margin-bottom: 25px;
}
.banner-infos p {
    color: rgba(78, 78, 78, 0.6);
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 25px;
}

.banner-infos button {
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #E55473;
    border: none;
    color: white;
    cursor: pointer;
}

.banner-infos button:hover {
    background-color: #e791a3;
    transition: 0.2s;
}


.featured-section {
    height: 100vh;
    background-color: white;
    margin: 70px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.featured-info {
    text-align: center;
}

.featured-info h2 {
    color: #272727;
    font-size: 35px;
    margin-bottom: 25px;
}

.featured-info p {
    color: rgba(78, 78, 78, 0.6);
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.featured-display{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.flower-box{
    width: 320px;
    height: 360px;
    border-radius: 300px 300px 0px 0px;
    
}

.flower-box:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.box1 {
    background: url("../assets/pngwing\ 6.png");
    background-color: rgba(167, 33, 98, 0.15);
    background-position: center bottom;
    background-size: 240px 290px;
    background-repeat: no-repeat;
}

.box2 {
    background: url("../assets/pngwing\ 5.png");
    background-color: rgba(5, 151, 160, 0.15);
    background-position: center;
    background-size: 260px 260px;
    background-repeat: no-repeat;
}

.box3 {
    background: url("../assets/pngwing\ 7.png");
    background-color: rgba(71, 125, 17, 0.15);
    background-position: center bottom;
    background-size: 220px 320px;
    background-repeat: no-repeat;
}

.flower-link {
    text-align: center;
    margin-top: 10px;
    
}

.flower-link a {
    color: #272727;
}

.flower-link a:hover {
    color: #E55473;
    transition: 0.2s;
}

.support-container {
    height: 40vh;
    
    background-color: rgba(39, 39, 39, 0.05);
    margin: 70px 150px 100px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.support-container p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 0.9rem;
    margin-top: 10px;
}
.hot-deal {
    background-color: rgba(229, 84, 115, 0.05);
    height: 70vh;
    margin: 70px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 200px;
}
.hot-deal-info p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.hot-deal-info button {
    padding: 15px 25px;
    border-radius: 8px;
    background-color: #E55473;
    border: none;
    color: white;
    cursor: pointer;
}

.hot-deal-info button:hover {
    background-color: #e791a3;
    transition: 0.2s;
}

.hot-deal-info {
    text-align: center;
}

.hot-deal-info h2 {
    color: #272727;
    font-size: 30px;
    margin-bottom: 20px;
}

.hot-deal-info span {
    color: #E55473;
}



.hot-deal-images img {
    width: 220px;
}
.instagram-section {
    height: 100vh;
    background-color: white;
    margin: 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.insta-info {
    text-align: center;
}

.insta-info h2 {
    color: #272727;
    font-size: 35px;
    margin-bottom: 25px;
}

.insta-info p {
    color: rgba(78, 78, 78, 0.6);
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.insta-boxes {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.boxinsta {
    width: 250px;
    height: 320px;
}

.boxinsta:hover {
    opacity: 0.7;
    transition: 0.2s;
}


.latest-deal-container {
    height: 50vh;
    background: url("../assets/Rectangle\ 9.png");
    background-size: cover;
    background-position: center;
    margin: 0px 150px 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.latest-deal-container h2 {
    color: #272727;
    font-size: 35px;
}

.latest-deal-container p {
    color: rgba(78, 78, 78, 0.6);
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.deal-inputs {
    width: 80%;
}

.latest-deal-container input {
    width: 70%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}

.latest-deal-container button {
    padding: 15px 25px;
    border-radius: 8px;
    background-color: #E55473;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.latest-deal-container button:hover {
    background-color: #e791a3;
    transition: 0.2s;

}
.insta-boxes {
    background: url("../assets/Flower\ 01.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.insta-boxes-2 {
    background: url("../assets/Rectangle\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.insta-boxes-3 {
    background: url("../assets/Rectangle\ 5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.insta-boxes-4 {
    background: url("../assets/Rectangle\ 6.png");
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    height: 50vh;
    background-color: #111010;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

footer h2 {
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
}

footer span {
    color: #E55473;
}

footer p {
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.90);
    line-height: 20px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 0.6rem;
}